/* Réinitialise les marges et les paddings pour tous les éléments */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* STYLE POUR LA PAGE D'ACCEUIL */

/* Style pour la barre de navigation */
.nav {
    position: sticky;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: black;
    box-shadow: inset 0 -1 0 #c5c5c6;
    padding: 2%;
    z-index: 1;
    height: 6em;
}

/* Style pour le bouton de menu */
.button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    background-color: black;
    align-items: center;
    position: relative;

}

/* Style pour les barres horizontales du bouton de menu */
.button span {
    display: block;
    width: 100%;
    height: 2px;
    background: aliceblue;
    position: absolute;
}

/* Style pour la première barre horizontale du bouton de menu */
.button span:nth-child(1) {
    transform: translateY(7px);
}

/* Style pour la troisième barre horizontale du bouton de menu */
.button span:nth-child(3) {
    transform: translateY(-7px);
}

/* Style pour les barres horizontales du bouton de menu lorsque le menu est ouvert */
.button.open span:nth-child(1) {
    transform: translate(0) rotate(45deg)
}

/* Style pour la deuxième barre horizontale du bouton de menu lorsque le menu est ouvert */
.button.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;

}

/* Style pour la troisième barre horizontale du bouton de menu lorsque le menu est ouvert */
.button.open span:nth-child(3) {
    transform: translate(0) rotate(-45deg)
}

/* Style pour les boutons de la barre de navigation */
.btn {
    background-color: black;
}

/* Style pour les boutons de la barre de navigation lorsqu'ils sont survolés */
.btn:hover {
    background-color: red;
    color: black;
}

/* Style pour les liens de la barre de navigation */
.navlinks-container a {
    margin: 10px 0px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #414141;
    display: inline-block;
    position: relative;

}

/* Style pour la ligne sous les liens de la barre de navigation */
.navlinks-container a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;
    transform-origin: left;
    background: #333;
    transition: transform 0.3 ease-out;
    transform: scaleX(0);


}

/* Style pour la ligne sous les liens de la barre de navigation lorsqu'ils sont survolés */
.navlinks-container a:hover::after {
    transform: scaleX(1);

}

/* Style pour le conteneur des liens de la barre de navigation */
.navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background: #fafafa;
    top: 100%;
    left: 0;
    height: 60vh;
    border-right: 1px solid #c5c5c6;
    transform: translate(-100%);
    padding: 15px 50px 15px 20px;

}

/* style lorsque la sidebar est open */
.open {
    transform: translate(0%);

}

.button.open span:nth-child(1),
.button span:nth-child(3) {
    transition: transform 0.3s 0.15s ease-out;
}

/* style pour le logo */
.nav .image {
    position: absolute;
    top: 0;
    left: 45%;
    text-transform: none;
    margin: auto;
    width: 8em;
    height: 100%;
}

/* style pour le lien reservation */
.reservation {
    color: red;
    text-decoration: none;
    position: absolute;
    right: 20px;
    top: 30%;
    font-size: 1em;
}


/* style lorsque la souris passe sur le lien reservation */
.reservation:hover {
    color: white;
}

/* style por l'image 2 */
.image2 {
    height: 40em;
    width: 100%;
}

/* style pour le titre h1 le barrio alto */

.h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centre le titre par rapport à son parent */
    color: white;
    text-align: center;
    width: 100%;
    font-size: 6em;
    font-family: 'LoveMeChainV2MonoLight',sans-serif;
    font-weight: normal;
    font-style: normal;
    text-shadow: 3px 3px;
    color: #b30000;
}


/* style por l'image 1 */
.img1 {
    width: 100%;
    height: 100%;
}

/* style pour le lien des menus */
.menu {
    margin-top: 15%;
    background-color: goldenrod;
    color: red;
    border: none
}

/* style pour le lien des galerie photos */
.galerie {

    background-color: goldenrod;
    color: red;
    border: none;
}

/* style pour le paragraphe numero 1 */
.p1 {
    text-align: center;
    font-size: 2.5em;
    padding: 2%;

}

/* style pour l'image numero 2 */
.img2 {
    width: 102%;
    height: 100%;
}

/* style pour le paragraphe numero 2 */
.p2 {
    text-align: center;
    font-size: 3em;
    padding: 2%;
}

/* style pour le lien de la biographie */
.biographie {
    margin-top: 10%;
    background-color: goldenrod;
    color: green;
    border: none;
}

/* syle pour l'image numero 3 */
.img3 {
    width: 100%;
    height: 99%;
}

/* style pour les titres h3 */
h3 {
    text-align: center;
}




/* style pour l'adresse dans le footer */
.adresse {
    text-align: center;
    padding: 2%;
    margin-top: 0.2em;
}

.heure {
    text-align: center;
    padding: 2%;
    margin-top: 1em;
}

/* style pour l'email dans le footer */
.mail {
    padding: 2%;
    text-align: center;
    margin-top: 2em;
}

/* style pour le lien en savoir plus  */
.ensavoirplus {
    margin-top: 15%;
    color: red;
    border: none;
    background-color: goldenrod;
}

/* style pour le lien evenement  */
.evenement {
    padding: 10%;
}

/* style pour le footer */
footer {
    background-color: #d1c2c2;
    ;
}

/* style pour les avis dans le footer */
.avis img {
    width: 20%;
}

/* style pour la section numero 1 */
.section1 {
    font-size: 1.5rem;
}

/* style pour l'email dans le footer */
.e_mail {
    background-color: goldenrod;
    color: aliceblue;
}

/* style pour le lien des mentions legale */
.mention_legales {
    text-decoration: none;
    color: #333;
}

.ml {
    width: 70%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #ebe4e4;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-bottom: 2em;
}

.ml h1 {
    color: red;
}

.ml h2 {
    color: goldenrod;
}


/* stlyle pour les image du carrousel */
.item {
    margin-top: 1%;
    width: 100%;
    height: 45vw;
}
.main_ml_h1{
    text-align: center;
    color: #2f702f;
    font-size: 3em;
    margin-top: 1em;
}




/* STYLE POUR LA PAGE DE RESERVATION */

/* style du formulaire */
form {
    max-width: 40em;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 2em;
}

/* style pour les labels du formulaire */
label {
    display: block;
    margin-bottom: 10px;
    color: #2f702f;
}

/* style pour les input du formulaire */
input[type="text"],
input[type="date"],
select,
input[type="number"],
textarea,
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #bdb5b5;
    margin-bottom: 20px;
    box-sizing: border-box;
}

/* style pour le bouton reserver du formulaire */
input[type="submit"] {
    background-color: #333333;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

/* style lorsque la souris passe sur le bouton reserver du formulaire */
input[type="submit"]:hover {
    background-color: #c7a8a8;
}

.h1_reservation {
    font-size: 3em;
    color: green;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.p_reservation {
    font-size: 2em;
    color: #b30000;
    text-align: center;
    margin-bottom: 1em;
}




/* CSS POUR LA PAGE DE MENU */

/* Ajouter un espace supplémentaire en haut de la page */
.menu-h1 {
    text-align: center;
    font-size: 4rem;
    margin-top: 50px;
    color: red;
}

/* Ajouter un espace supplémentaire entre les sections */
.menu-h2 {
    font-size: 3rem;
    margin-top: 50px;
    text-align: center;
    color: green;
}

/* Style des articles du menu */
.menu-item {
    display: inline-block;
    width: 30%;
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: 30em;
}





/* taille des images marge plus border */
.menu-item img {
    width: 20em;
    height: 15em;
    margin-bottom: 20px;
    border-radius: 10px;

}

/* Style pour le titre de l'article */
.menu-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

/* Style pour la description de l'article */
.menu-item p {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 10px;
}

/* Style pour le prix de l'article */
.menu-item .price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #b30000;
    text-align: center;
}

/* menu-item {
    position: relative;
  } */

/* .menu-item:hover  {
    animation: shake 0.8s;
  } */
.menu-item:hover {
    transform: scale(1.10);
    transition: all 0.2s ease-in-out;
}

/* .menu-item img:hover {
    transform: rotate(360deg);
    transition: all 0.2s ease-in-out;
  } */


/* @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(10px); }
    50% { transform: translateX(-10px); }
    75% { transform: translateX(10px); }
    100% { transform: translateX(0); }
  } */


/* CSS DE LA PAGE BIOGRAPHIE */

/* style du container contenant la biographie */
.container_biographie {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* style du titre de la biographie */
.h1_biographie {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

/* style des paragaphes de la biographie */
.p_biographie {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 20px;
}

/* style de l'image de la biographie */
.img_biographie {
    max-width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}




/* CSS POUR LA GALERIE D'IMAGE */


/* élément qui contient l'ensemble de la galerie */
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/* contient les vignettes (miniatures) de chaque image dans la galerie. */
.thumbnails {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Cette classe est appliquée à l'image principal qui représente une vignette */
.thumbnails img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    opacity: 0.5;
}

/*  Cette classe est appliquée à chaque élément img lorsque la souris passe dessus */
.thumbnails img:hover {
    opacity: 1;
}

/*  Cette classe est appliquée à un élément qui contiendra l'image agrandie lorsqu'un visiteur clique sur une vignette */
.preview {
    margin-top: 20px;

}

/* Cette classe est appliquée à l'élément img qui représente l'image agrandie */
.preview img {
    width: 60em;
    height: 35em;
    margin-bottom: 2em;
}

.h1_gallerie {
    color: green;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

/* CSS POUR LA PAGE EVENEMENTS */


/* css qui definit la boite qui contient le slider */
.container_evenements {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    /* cacher la barre de défilement horizontale */
    margin: 0 auto;
}

/* css quidéfinit la zone du slider */
.slider {
    height: 400px;
    width: 100%;
    display: flex;
    perspective: 1000px;
    position: relative;
    align-items: center;
    overflow: hidden;
    /* cacher la partie de l'image qui dépasse la zone */
}

/* css des images */
.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7 {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center center;
    transition: transform 0.5s ease-in-out;
    /* ajouter une transition pour l'effet de défilement */
}



/* css des images */
.box1 {
    background: url('https://images.pexels.com/photos/2544826/pexels-photo-2544826.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center center;
}

.box2 {
    background: url('https://images.pexels.com/photos/5911135/pexels-photo-5911135.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center center;
}

.box3 {
    background: url('https://images.pexels.com/photos/2356059/pexels-photo-2356059.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center center;
}

.box4 {
    background: url('https://images.pexels.com/photos/3274903/pexels-photo-3274903.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center center;
}

.box5 {
    background: url('https://images.pexels.com/photos/3618162/pexels-photo-3618162.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center center;
}

.box6 {
    background: url('https://images.pexels.com/photos/4256852/pexels-photo-4256852.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center center;
}

.box7 {
    background: url('https://images.pexels.com/photos/1891234/pexels-photo-1891234.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center center;
}



.slider [class*="box"] {
    overflow: hidden;
    border-radius: 20px;
    transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    position: absolute;
}

.slider [class*="box"]:nth-child(7),
.slider [class*="box"]:nth-child(1) {
    width: 100vh;
    height: 60vh;
    transform: scale(0.2) translate(-50%, -50%);
    top: 10%;
    z-index: 1;
}

.slider [class*="box"]:nth-child(2),
.slider [class*="box"]:nth-child(6) {
    width: 100vh;
    height: 60vh;
    transform: scale(0.4) translate(-50%, -50%);
    top: 20%;
    z-index: 2;
}

.slider [class*="box"]:nth-child(3),
.slider [class*="box"]:nth-child(5) {
    width: 100vh;
    height: 60vh;
    transform: scale(0.6) translate(-50%, -50%);
    top: 30%;
    z-index: 3;
}

.slider [class*="box"]:nth-child(4) {
    width: 60vw;
    height: 60vh;
    border-color: #c92026;
    color: #fff;
    transform: scale(1) translate(-50%, -50%);
    top: 50%;
    z-index: 4;
}

.slider [class*="box"]:nth-child(1) {
    left: 100%;
}

.slider [class*="box"]:nth-child(2) {
    left: 80%;
}

.slider [class*="box"]:nth-child(3) {
    left: 71%;
}

.slider [class*="box"]:nth-child(4) {
    left: 50%;
}

.slider [class*="box"]:nth-child(5) {
    left: 10%;
}

.slider [class*="box"]:nth-child(6) {
    left: -5%;
}

.slider [class*="box"]:nth-child(7) {
    left: -13%;
}

.slider .firstSlide {
    -webkit-animation: firstChild 1s;
    animation: firstChild 1s;
}

/*Animation for buyers landing page slider*/
@-webkit-keyframes firstChild {
    0% {
        left: 100%;
        transform: scale(0.2) translate(-50%, -50%);
    }

    100% {
        left: -13%;
        transform: scale(0.2) translate(-50%, -50%);
    }
}

@keyframes firstChild {
    0% {
        left: 100%;
        transform: scale(0.2) translate(-50%, -50%);
    }

    100% {
        left: -13%;
        transform: scale(0.2) translate(-50%, -50%);
    }
}

.p-evenement {
    font-size: 1.5rem;
    margin-bottom: 2em;
    text-align: center;
    color: #c92026;
    margin-top: 2em;
}

.h1_evenement {
    color: green;
    font-size: 3em;
    margin-bottom: 1em;
    text-align: center;
    margin-top: 1em;
}


/* CSS POUR PAGE DE MENU_PRESENTATION */


/* css du container du menu presentation */
.container_menu_presentation {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* css des images du menu presentation */
.image-wrapper {
    flex: 1;
    position: relative;
}

.image_presentation {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    transition: height 0.3s ease-in-out;
}

.image-wrapper:hover .image-overlay {
    height: 100%;
}

/* css du texte sur les images */
.overlay-text {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: red;
    font-size: 4rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

/* opacité des images */
.image-wrapper:hover .overlay-text {
    opacity: 1;
}

/* css pour le fleche qui permet de remonter en haut du site */
#bouton-haut {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgb(250, 250, 253);
    color: rgb(201, 90, 90);
    padding: 10px;
    font-size: 8px;
    cursor: pointer;
}

.fleche {
    border: solid rgb(199, 68, 68);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(-135deg);
}


/* MEDIA QUERIES OUR LA PAGE DES MENUS */


/* / Ajuster la largeur des éléments du menu / */
@media screen and (max-width: 768px) {
    .menu-item {
        width: 45%;
    }
}

@media screen and (max-width: 576px) {
    .menu-item {
        width: 100%;
    }
}

/* / Ajuster la taille des images / */
/* @media screen and (max-width: 576px) {
    .menu-item img {
    width: 100%;
    height: auto;
    }
    } */

/* / Ajuster la hauteur de chaque élément du menu pour qu'ils soient de même hauteur / */
/* @media screen and (min-width: 768px) {
    .menu-item {
    height: 25em;
    }
    } */

/* / Ajouter un espace supplémentaire entre les éléments du menu / */
/* .menu-item {
    margin: 10px;
    } */

/* / Ajuster la taille de la police de caractères pour la description de l'article */
/* .menu-item p {
    font-size: 1rem;
    } */


/* MEDIA QUERIES POUR LA NAVBAR */

@media screen and (max-width: 768px) {

    /* Masquer les liens de la navbar et afficher le bouton de menu / */
    /* .navlinks-container {
    display: none;
    }
    
    .button {
    display: flex;
    } */

    /* / Styles pour le bouton de menu / */
    /* .button span {
    background: white;
    }
    
    .button span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
    }
    
    .button span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
    }
    
    .button span:nth-child(2) {
    opacity: 0;
    } */

    /* / Styles pour afficher les liens de la navbar lorsque le menu est ouvert / */
    /* .open .navlinks-container {
    display: block;
    transform: translate(0);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 0;
    background: black;
    z-index: 999;
    }
    
    .open .navlinks-container a {
    color: white;
    font-size: 1.5em;
    padding: 1em;
    display: block;
    text-align: center;
    } */

    /* / Style pour le logo / */
    .nav .image {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        text-transform: none;
        margin: auto;
        width: 6em;
        height: 100%;
    }

    /* / Style pour le lien reservation / */
    /* .reservation {
    display: none;
    } */
}

/* / Style pour les petits écrans (max-width: 576px) / */
@media screen and (max-width: 576px) {

    /* / Style pour les liens de la navbar / */
    /* .navlinks-container a {
    font-size: 1.2em;
    } */

    /* / Style pour le logo */
    .nav .image {
        width: 4em;
    }
}